<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PC TechWare Ltd.</title>
    <link rel="stylesheet" href="style.css">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/website-logo.jpg">
</head>
<body>
    
    <header>
        <nav>
            <div class="navbar">
                <div class="logo">Logo</div>
                <div class="navbar-content">
                    <a href="/home" class="actives activeLink">Home</a>
                    <a href="/home/about-us" class="actives">About Us</a>
                    <a href="/home/services" class="actives">Services</a>
                    <a href="/home/contact-us" class="actives">Contact Us</a>
                    <div class="hamburger hide">
                        <i class="fa-solid fa-bars fa-3x ham"></i>
                    </div>        
                </div>
            </div>
        </nav>
        <div class="hamburgerVisible hider">
            <div class="hamburger-content">
                <div class="hamLink"> <a href="/home">Home</a> </div>
                <div class="hamLink"> <a href="/home/about-us">About us</a> </div>
                <div class="hamLink"> <a href="/home/services">Services</a> </div>
                <div class="hamLink"> <a href="/home/contact-us">Contact us</a> </div>
                <div class="closer hamLink"> <i class="fa-solid fa-xmark"></i> </div>
            </div>
        </div>
    </header>

    <div class="content">
        <section>
            <section class="parallax-1">
                <div class="parallax-inner-1">
                    <h1>Grow Your Business</h1>
                </div>
            </section>
            <h2>Join Our Company</h2>
            <div class="parallax-1-content">
                <p class="parallax-text-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ea esse fuga veniam. Eius aliquid ipsa, laudantium commodi alias mollitia, placeat asperiores quia labore quas dolorum neque, excepturi obcaecati voluptatum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ea esse fuga veniam. Eius aliquid ipsa, laudantium commodi alias mollitia, placeat asperiores quia labore quas dolorum neque, excepturi obcaecati voluptatum.Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ea esse fuga veniam. Eius aliquid ipsa, laudantium commodi alias mollitia, placeat asperiores quia labore quas dolorum neque, excepturi obcaecati voluptatum.
                    <button class="join-btn">JOIN</button>
                </p>
                <div class="laptop-img">
                    <img src="/images/laptop_bg_img.jpg" alt="img">
                </div>
            </div>
        </section>
        <section>
            <section class="parallax-2">
                <div class="parallax-inner-2">
                    <h1 class="heading-2">Get Into Our Website</h1>
                    <i class='bx bx-down-arrow-alt' id="down-arrow"></i>
                </div>
            </section>
        </section>

        <div class="website-page-1">
            <h2>What We Do Here ??</h2>

            <div class="work-wrapper">
                <div class="work">
                    <div class="digital-marketing work-wrapper-inner">
                        <i class='bx bx-line-chart'></i>
                        <h3>Digital Marketing</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span><a href="#">Know More!</a></span>
                    </div>
                    <div class="web-dev work-wrapper-inner">
                        <i class='bx bx-code-alt' ></i>
                        <h3>Web Development</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span><a href="#">Know More!</a></span>
                    </div>
                    <div class="graphic-design work-wrapper-inner">
                        <i class='bx bxs-palette' ></i>
                        <h3>Graphic Design</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <span><a href="#">Know More!</a></span>
                    </div>
                </div>
            </div>
        </div>

        <div class="website-page-2">
            <div class="page-2-text">
                <h2>Our Reach</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid consectetur esse numquam exercitationem quo at neque?</p>
            </div>

            <div class="data-wrapper">
                <div class="data">
                    <div class="projects num-div">
                        <div class="num" data-val="300">000</div><span>+</span>
                        <p>Projects Done</p>
                    </div>
                    <div class="clients num-div">
                        <div class="num" data-val="1000">0000</div><span>+</span>
                        <p>Happy Clients</p>
                    </div>
                    <div class="ratings num-div">
                        <div class="num" data-val="5">0</div><span>/5</span>
                        <p>Ratings</p>
                    </div>
                    <div class="interns num-div">
                        <div class="num" data-val="5000">0000</div><span>+</span>
                        <p>Learning Interns</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="website-page-3">
            <h2>Our Projects</h2>

            <div class="projects-wrapper">

                <div class="project-text">
                    <div class="project-text-head">
                        <h1>We Help Brands</h1>
                        <h1>Increase Their</h1>
                        <h1>online Presence</h1>
                    </div>
                    <div class="project-text-inner">
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magni recusandae nulla porro consectetur, perspiciatis corrupti inventore laudantium? Aut ab laboriosam enim nobis nisi accusamus id asperiores labore eius, molestias dolorum!</p>
                    </div>
                </div>

                <div class="projects-inner">
                    <div class="project-div">
                        <div class="div">
                            <img src="/images/project-1.png" alt="#">
                        </div>
                        <div class="div">
                            <img src="/images/project-2.png" alt="#">
                        </div>
                    </div>
                    <div class="project-div">
                        <div class="div">
                            <img src="/images/project-3.png" alt="#">
                        </div>
                        <div class="div">
                            <img src="/images/project-4.png" alt="#">
                        </div>
                    </div>
                    <div class="project-div">
                        <div class="div">
                            <img src="/images/project-5.png" alt="#">
                        </div>
                        <div class="div">
                            <img src="/images/project-6.png" alt="#">
                        </div>
                    </div>
                </div>
            </div>

            <marquee>
                <span><i class='bx bxs-star' ></i>Hospital Website</span>
                <span><i class='bx bxs-star' ></i>Educational Website</span>
                <span><i class='bx bxs-star' ></i>University/College Website</span>
                <span><i class='bx bxs-star' ></i>Design Agency Website</span>
                <span><i class='bx bxs-star' ></i>Real Estate Website</span>
                <span><i class='bx bxs-star' ></i>Tourism Website</span>
                <span><i class='bx bxs-star' ></i>Digital Marketing Website</span>
            </marquee>
        </div>

        <div class="website-page-4">
            <h2>Connect With Us</h2>

            <div class="page-4-inner">

                <div class="connection-wrapper">
                    <div class="connection">
                        <div class="social-media">
                            <h4>Get in Touch With Us</h4>
                            <div class="social-connections">
                                <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                                <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                                <a href=""><i class='bx bxl-twitter' ></i></a>
                                <a href=""><i class='bx bxl-facebook-square' ></i></a>
                                <a href=""><i class='bx bxl-whatsapp-square' ></i></a>
                            </div>
                        </div>
    
                        <div class="feedback">
                            <textarea name="feedback" id="feedback" rows="5" cols="50" placeholder="Give Your Feedback"></textarea>
                            <h3>Write Any Message or Feedback !!</h3>
                        </div>
                    </div>
                </div>

                <div class="form">
                    <form method="post" action="/">
                        <input type="text" id="name" name="name" placeholder="NAME" required>
                        <input type="email" id="email" name="email" placeholder="EMAIL" required>
                        <input type="number" id="contact" name="contact" placeholder="CONTACT" required>
                        <button class="feedback-btn" type="submit" onclick="sendMail()">SUBMIT</button>
                    </form>
                </div>

            </div>
        </div>

    </div>


    <footer>
        <div class="footer-wrapper">
            <div class="footer-content">
                <div class="div-1">
                    <div class="logo">Logo</div>
                    <div class="social-connections">
                        <a href=""><i class='bx bxl-linkedin-square' ></i></a>
                        <a href=""><i class='bx bxl-instagram-alt' ></i></a>
                        <a href=""><i class='bx bxl-twitter' ></i></a>
                        <a href=""><i class='bx bxl-facebook-square' ></i></a>
                        <a href=""><i class='bx bxl-whatsapp-square' ></i></a>
                    </div>
                </div>
                <div class="div-2">
                    <h3>Company</h3>
                    <a href="#">About Us</a>
                    <a href="#">Consultant</a>
                    <a href="#">Internships</a>
                    <a href="#">Career</a>
                </div>
                <div class="div-3">
                    <h3>Services</h3>
                    <a href="#">Web Development</a>
                    <a href="#">Digital Marketing</a>
                    <a href="#">Creative Design</a>
                    <a href="#">Website Services</a>
                </div>
            </div>

            <div class="copyright">
                <div class="copyright-text">Copyright © CP TechWare Ltd. | All rights reserved.</div>
            </div>
        </div>
    </footer>

    
    <script>
        let currentPages = document.querySelectorAll(".actives");

        currentPages.forEach(currentPage => {
            currentPage.addEventListener("click" , () => {
                document.querySelector(".activeLink")?.classList.remove("activeLink");
                currentPage.classList.add("activeLink");
            });
        });


        let valueDisplays = document.querySelectorAll(".num");
        let interval = 3000;

        valueDisplays.forEach((valueDisplay) => {
            let startValue = 0;
            let endValue = parseInt(valueDisplay.getAttribute("data-val"));
            let duration = Math.floor(interval / endValue);
            
            let counter = setInterval(function() {
                startValue += 1;
                valueDisplay.textContent = startValue;
                if (startValue == endValue) {
                    clearInterval(counter);
                }
            }, duration);
        });


        const hamLogo = document.querySelector(".hamburger");
        const hamburgerContent = document.querySelector(".hamburger-content");
        const hamburgerVisible = document.querySelector(".hamburgerVisible");
        const navbar = document.querySelector(".navbar");

        hamLogo.addEventListener("click" , () => {
            hamburgerVisible.classList.remove("hider");
            navbar.classList.add("hider");
        });

        const cross = document.querySelector(".closer");

        cross.addEventListener("click" , () => {
            hamburgerVisible.classList.add("hider");
            navbar.classList.remove("hider");
        });


        function sendMail() {
            alert("Email Sent !! Your Web Page is going to reload");
        }

    </script>

</body>
</html>


